.footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
.nav-button{
    display: inline-block;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    background-color: grey;
}
.nav-button:hover{
    background-color: #45a049;
}
div{
display: flex;
justify-content: center;
}
.button-green{
        background-color: #4CAF50;
}
.button-red{
    background-color: #CC3300;
}
.button-red:hover{
    background-color: #FF0000;
}
.button-black{
    background-color: #000;
}
.button-black:hover{
    background-color: #111;
}